.page {
    min-height: 100vh;
    background-color: rgb(249, 247, 247);
    display: flex;
    padding: 1rem 4rem;
    flex-direction: column;
    padding-top: 7rem;
    align-items: center;
    
}

.title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.subTitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: rgb(97, 95, 95);
    text-align: center;
}

.cartList {
    display: grid;
    gap: 20px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 20px;
    padding: 1rem;
}

.cartItem {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgb(186, 186, 186);
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.imageContainer {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 139, 154);
    border-radius: 20px;
}

.cartInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cartTitle {
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.cartPrice {
    font-size: 1.25rem;

    display: flex;
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    color: rgb(119, 119, 119);
}

.productInfo {
    display: flex;

    gap: 10px;
}

.cartManipulation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.itemQuantity {
    display: flex;
    border: 1px solid rgb(186, 186, 186);
    flex: 0 0 auto;
    justify-self: right;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.quantityInput {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    border-left: 1px solid rgb(186, 186, 186);
    border-right: 1px solid rgb(186, 186, 186);

    text-align: center;
}

.quantityButton {
    width: 55px;
    height: 30px;
    border: none;
    background: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.cartDelete {
    justify-self: right;
    align-self: left;
    justify-content: right;
    align-items: right;

}

.cartLayout {
    display: flex;
    gap: 20px;
}

.cartSummaryCheckOut {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: fit-content;
    position: sticky;
    top: 100px;
    gap: 20px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 20px;
    padding: 1rem;

}

.cartOrderTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.cardTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.proceedButton {

    background-color: rgb(254, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px 0 0 0;
    transition: all 0.3s ease-in-out;

}

.deleteButton{
    background-color: rgb(254, 17, 17);
    display: flex;
   
   
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
   
    
}